<h3>Add a new toilet</h3>

<form role="form">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="new-toilet-title">Name</label>
        {{input class="form-control input-lg" id="new-toilet-title" valueBinding="newToiletTitle"}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="new-toilet-x">Latitude</label>
        {{input class="form-control input-lg" id="new-toilet-x" valueBinding="newToiletGeoX"}}
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <label for="new-toilet-y">Latitude</label>
        {{input class="form-control input-lg" id="new-toilet-y" valueBinding="newToiletGeoY"}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <div class="checkbox">
        <label>
          {{input type="checkbox"}}
          Male?
        </label>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="checkbox">
        <label>
          {{input type="checkbox"}}
          Female?
        </label>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="checkbox">
        <label>
          {{input type="checkbox"}}
          Babychange?
        </label>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="checkbox">
        <label>
          {{input type="checkbox"}}
          Sharps?
        </label>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="checkbox">
        <label>
          {{input type="checkbox"}}
          Showers?
        </label>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="checkbox">
        <label>
          {{input type="checkbox"}}
          Sanitary disposal?
        </label>
      </div>
    </div>

  </div>

</form>
